.brand-shelf {
    padding: 2rem 1rem;
    border-top: 1px solid var(--border-color);
}

.brand-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(2rem, 5vw, 5rem);
    opacity: 0.6;
    transition: opacity 0.3s;
}

.brand-item {
    // filter: grayscale(1);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.brand-logo-img {
    height: 40px;
    width: auto;
    object-fit: contain;

    &:hover {
        translate: calc(11.1rem);
    }

    @media (max-width: 600px) {
        height: 30px;
    }
}

.brand-name {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--text-color-muted);

    &:hover {
        color: var(--primary-color);
    }
}