<aside class="order-summary">
    <h3 class="summary-title">Order Summary</h3>

    <div class="summary-content">
        <div class="summary-row">
            <span>Subtotal</span>
            <span class="value">₹{{ subtotal | number }}</span>
        </div>
        <div class="summary-row">
            <span>Shipping</span>
            <span class="value free">FREE</span>
        </div>

        <div class="summary-divider"></div>

        <div class="summary-row total">
            <span>Total</span>
            <span class="value">₹{{ total | number:'1.0-0' }}</span>
        </div>
    </div>

    @if (!isCheckoutMode) {
    <button class="btn-primary btn-block" (click)="onProceed()">
        <lucide-icon [img]="Lock" [size]="18"></lucide-icon>
        <span>Proceed to Checkout</span>
    </button>
    }
</aside>